[project]
name = "advent-of-code"
version = "0.1.0"
description = "Brent's Advent of Code project"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
